---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<header>
			<h1 class="text-6xl">Tesla landing</h1>
		</header>

		<nav>
			<ul>
				<li><a href="#">Model S</a></li>
				<li><a href="#">Model 3</a></li>
				<li><a href="#">Model X</a></li>
				<li><a href="#">Model Y</a></li>
				<li><a href="#">Powerwall</a></li>
				<li><a href="#">Carga</a></li>
			</ul>
		</nav>

		<nav>
			<ul>
				<li><a href="#">Soporte</a></li>
				<li><a href="#">Tienda</a></li>
				<li><a href="#">Cuenta</a></li>
				<li><a href="#">Menú</a></li>
			</ul>
		</nav>
	</main>
</Layout>
